* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

html {
    scroll-behavior: smooth;
}


/* Header Section */


.logo::first-letter {
    color: rgb(9, 194, 3);
    font-weight: 500;
}

.logo span {
    color: rgb(9, 194, 3);
    font-weight: 500;
}

header {
    background-image: linear-gradient(rgb(22, 22, 22, 0.5), rgb(15, 15, 15, 0.5)), url(../asset/images/banner.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar li a {
    color: white;
}

.navbar-brand {
    font-size: 30px;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar li a:hover {
    color: #1fb3ae;
}

header nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header nav .left .branding {
    color: aliceblue;
    margin-right: 3rem;
    font-size: 20px;
}

header nav .left a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

header nav .left a:hover {
    color: #1fb3ae;
}

.btn {
    padding: 0.6rem 1.8rem;
    background: #4BD4CF;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: transparent;
    color: #4BD4CF;
    border-color: #4BD4CF;
}

.branding h1 {
    color: #11ebe3;
    ;
}



/* Hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
}


.hero .right {
    color: white;
    margin-top: 50px;
    /* flex:1; */
}

.hero .right h3 {
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: 20px;
    color: #4BD4CF;
}

.hero .right .design {
    color: #4BD4CF;
}

.hero .right h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero .right p {
    font-size: 18px;
    margin-bottom: 30px;
}




/* About Section */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.about .left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about .right {
    flex: 1;
}

.about .right h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4BD4CF;
}

.about .right h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about .right p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-img {
    width: 350px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.about .left img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.img-text {
    position: absolute;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(36, 34, 34, 0.7);
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: white;
    border-radius: 10%;
    transition: all 0.4s ease;
}

.about-img:hover .img-text {
    top: 0;
}

.img-text h3 {
    margin-bottom: 10px;
}

.social .fab {
    background: #000;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #f3f3f3;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.social .fab:hover {
    background: #4BD4CF;
    color: black;
}



/* Offer Section */

.offer-wrapper {
    background-color: #d4d1d1;
}


.offers .card {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.offers .offers-head {
    text-align: center;
}

.offers .offers-head h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

.offers .offers-head span {
    color: #4BD4CF;
}

.offers .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    text-align: center;
}

.offers .card-wrapper .card {
    background: rgb(255, 255, 255);
    padding: 30px 10px;
    margin: 10px;
    position: relative;
    padding-top: 50px;
    transition: all 0.5s ease;

}

.offers .card-wrapper .card:hover {
    background: #14595e;
    color: white;
}

.offers .card-wrapper .card h2 {
    margin-bottom: 20px;
}

.card img {
    width: 50px;
    height: 50px;
}

.card-img {
    width: 80px;
    height: 80px;
    background: #4BD4CF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);

}



/* Service Section */

.service {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 50px 0;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%); */
}

.services h2 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.services p {
    font-size: 18px;
    margin-bottom: 20px;
}

.services .btn {
    margin-bottom: 30px;
}



/* Client Section */

.client {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0;
}

.client-box {
    text-align: center;
}

.client-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(18, 177, 192);
    margin-bottom: 20px;
}

.client-box h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.client-box h3 {
    color: #13bbb5;
}

.client-box span {
    color: #4BD4CF;
}

.client-box p {
    margin-bottom: 20px;
    font-size: 18px;
}


/* Our work Section */

.our-work {
    padding: 70px 0;
    text-align: center;
    background: rgb(226, 222, 222);
}

.our-work span {
    color: #4BD4CF;
}

.our-work h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.our-work p {
    font-size: 18px;
    margin-bottom: 50px;
}

.work-box .box img {
    width: 100%;
    height: 200px;
}

.work-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.work-box .box {
    position: relative;
}

.work-box .box .overlay {
    position: absolute;
    top: 0;
    background: rgba(61, 198, 223, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.work-box .box:hover .overlay {
    opacity: 1;
}

.more-btn {
    margin-top: 50px;
}

.back-home {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}


/* Our Blog Section */

.our-blog {
    background: #161616;
    padding: 50px 0;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%); */
}

.blog-head {
    text-align: center;
    color: white;
}

.blog-head h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.blog-head p {
    font-size: 18px;
    margin-bottom: 50px;
}

.blog-head span {
    color: #4BD4CF;
}

.blog-box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding-bottom: 50px;

}

.blog-box {
    background: rgb(255, 255, 255);
    margin: 15px;
    transition: all 0.3s ease;
}

.blog-img {
    overflow: hidden;

}

.blog-box .blog-img img {
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.full-img img {
    max-width: 1000px;
    height: 80vh;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;

}

.blog-box:hover {
    transform: scale(0.8) rotate(-15deg);
}

.blog-text {
    padding: 30px 10px;
    text-align: center;
}

.blog-text h2 {
    margin-bottom: 10px;
}

.blog-text p {
    margin-bottom: 10px;
}

.blog-text .btn {
    margin-bottom: 10px;
}

.more-btn2 {
    text-align: center;
}




/* Contact Us Section */

.contact-us {
    padding: 50px 0;
}

.contact-head {
    text-align: center;
}

.contact-head h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-head p {
    font-size: 18px;
    margin-bottom: 50px;
}

.contact-head span {
    color: #4BD4CF;
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.contact-wrapper .contact-card {
    text-align: center;
}

.contact-wrapper .contact-card .far {
    font-size: 40px;
    margin-bottom: 20px;
    color: #4BD4CF;
}

.contact-wrapper .contact-card .fas {
    font-size: 40px;
    margin-bottom: 20px;
    color: #4BD4CF;
}


.contact-wrapper .contact-card h2 {
    margin-bottom: 5px;
}

.message {
    text-align: center;
}

.message input.name {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.message input.email {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.message textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}




/* footer section */

.footer {
    background: #161616;
    text-align: center;
    color: aliceblue;
    padding: 30px 0;
}

.footer .logo {
    margin-bottom: 30px;
    clear: both;
}

.footer .social {
    margin-bottom: 30px;
}

.footer .arrow {
    float: right;
}

.footer .arrow span {
    font-size: 18px;
}

.footer .fa-angle-up {
    color: white;
}

/* media Query section*/



@media only screen and (max-width:768px) {
    .offers .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        text-align: center;
    }

    .work-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .blog-box-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        padding-bottom: 50px;
    }

    .our-blog {
        background: #161616;
        padding: 50px 0;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%); */
    }

    .contact-card {
        margin-bottom: 50px;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 7rem;
        text-align: center;
    }

    header {
        background-color: #161616;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 90%, 0 100%); */
    }

    .full-img img {
        max-width: 500px;
        height: 80vh;
    }

}



@media only screen and (max-width:576px) {
    .offers .card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        text-align: center;
    }

    .work-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .blog-box-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        padding-bottom: 50px;
    }

    /* .hero .left img{
        width: 350px;
    }

    .hero{
        padding-bottom: 50px;
    } */

    .hero .right {
        margin-top: -100px;
    }

    header {
        background-color: #161616;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 97%, 0 100%); */
    }

    .our-blog {
        background: #161616;
        padding: 50px 0;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 97%, 0 100%); */
    }

    .branding {
        margin-bottom: 30px;
    }

    header .right .btn {
        margin-top: 30px;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-wrapper .contact-card .far {
        margin-bottom: 10px;
    }

    .contact-wrapper .contact-card .fas {
        margin-bottom: 10px;
    }

    .full-img img {
        width: 80%;
        height: 80vh;
    }
}